<img
  class="absolute h-[24px] left-[70px] top-[345px]"
  src="assets/Images/Categories/Layers.svg"
/>
<div class="absolute w-[192px] h-[27px] left-[102px] top-[344px]">
  <h3 class="font-outfit font-semibold text-18 leading-27 text-[#181B23]">
    Explore Categories
  </h3>
</div>


<img
    class="absolute underline-offset-2 h-[20px] w-[20px] left-[1120px] top-[350px] "
    src="assets/Images/Search.svg"
  />
<div  class="absolute  inline-flex  border-solid border-gray-700 w-[152px] h-[21px] left-[1140px] top-[350px]">
  
  <input
    class=" mx-3 my-0 outline-none"
    type="text"
    placeholder="Search an item"
  />
  
</div>
