<div>
  <Input
    class="box-border px-12 absolute w-[635px] h-[40px] left-[377px] top-[160px] border border-solid border-gray-700 rounded-md"
    type="text"
    
    placeholder="Search products and explore categories here..."
  />
  <img
    class="absolute h-[24px] w-[24px] left-[393px] top-[168px]"
    src="assets/Images/Search.svg"
  />
</div>
<button>
  <a href="#">
    <img
      class="absolute w-[41px] h-[41px] left-[1022px] top-[160px]"
      src="assets/Images/Ellipse.svg"
    />
    <img
      class="absolute left-[1022px] top-[169px] w-[42px] h-[24px]"
      src="assets/Images/Sendmessage.svg"
    />
  </a>
</button>
<div class="absolute w-[426px] h-[24px] top-[216px] left-[482px]">
  <img src="assets/Images/Tooltip.svg">
</div>
