<div class="absolute flex inset-0 bottom-[91.67%] bg-slate-200 shadow-md">
  <img class="absolute top-4 left-20" src="assets/Images/X.svg" alt="Xlogo" />
  <img
    class="absolute top-6 left-28"
    src="assets/Images/Catalog.svg"
    alt="Catalog"
  />
  <img class="absolute top-4 left-60" src="assets/Images/Line.svg" alt="line" />

  <img
    class="absolute top-5 left-72"
    src="assets/Images/Layers.svg"
    alt="Menu"
  />
  <button
    class="absolute font-Outfit top-5 left-80 font-medium text-16 leading-24"
  >
    Menu
  </button>

  <img
    class="absolute top-5 left-96"
    src="assets/Images/Notes.svg"
    alt="Menu"
  />
  <button
    class="absolute left-[412px] top-5 font-outfit font-medium text-16 leading-24"
  >
    Product Lists
  </button>
  <a href="#">
  <button
    class="absolute h-10 w-10 bg-slate-500 top-3 right-20 rounded-lg text-white"
  >
    GS
  </button>
  <button>
    <img class="absolute top-7 right-14" src="assets/Images/Dropdown.svg" />
</button>
</a>
</div>














