<button class="absolute h-10 w-36 top-20 right-14 border-black border-2 bg-gray-300 text-12 leading-18 text-black" (click)="downloadPdf()">Download as PDF</button>
<app-header>
</app-header>
<app-searchbar></app-searchbar>
<app-explore-categories></app-explore-categories>
<app-categories-card></app-categories-card>
