
<!-- Card 1 -->
<div
  class="absolute h-[180px] w-[310px] top-[393px] left-[70px] border-black border-2 border-inherit rounded-lg"
>
  <h2
    class="absolute top-3 left-5 font-outfit font-medium text-18 leading-27 text-[#181B23]">
    Abrasives
  </h2>
  <div>
    <a href="#">
      <button
        class="absolute inline-block top-32 left-5 font-outfit text-12 leading-18 text-[#0D4AFF]">
        View Product
        <img 
          class="absolute top-1 left-24"
          src="assets/Images/Categories/Arrow_Right.svg"
        />
      </button>
    </a>

    <div class="absolute h-36 w-36 top-4 right-2 bottom-4 bg-white">
      <img src="assets/Images/Abrasives.png" />
    </div>
  </div>
</div>

<!-- Card 2 -->
<div
  class="absolute h-[180px] w-[310px] top-[393px] left-[400px] border-black border-2 border-inherit rounded-lg"
>
  <h2
    class="relative px-3 top-3 left-5 font-outfit font-medium text-18 leading-27 text-[#181B23]"
  >
    Adhesives & Sealants
  </h2>
  <div>
    <a href="#">
      <button
        class="absolute inline-block top-32 left-5 font-outfit text-12 leading-18 text-[#0D4AFF]"
      >
        View Product
        <img
          class="absolute top-1 left-24"
          src="assets/Images/Categories/Arrow_Right.svg"
        />
      </button>
    </a>

    <div class="absolute h-36 w-36 top-4 right-2 bottom-4 bg-white">
      <img src="assets/Images/AdhesivesSealants 1.png" />
    </div>
  </div>
</div>
<!-- Card 3 -->
<div
  class="absolute h-[180px] w-[310px] top-[393px] left-[730px] border-black border-2 border-inherit rounded-lg"
>
  <h2
    class="absolute top-3 left-5 font-outfit font-medium text-18 leading-27 text-[#181B23]"
  >
    Air Distribution
  </h2>
  <div>
    <a href="#">
      <button
        class="absolute inline-block top-32 left-5 font-outfit text-12 leading-18 text-[#0D4AFF]"
      >
        View Product
        <img
          class="absolute top-1 left-24"
          src="assets/Images/Categories/Arrow_Right.svg"
        />
      </button>
    </a>

    <div class="absolute h-36 w-36 top-4 right-2 bottom-4 bg-white">
      <img src="assets/Images/Air-Distribution 1.png" />
    </div>
  </div>
</div>
<!-- Card 4 -->
<div
  class="absolute h-[180px] w-[310px] top-[393px] left-[1060px] border-black border-2 border-inherit rounded-lg"
>
  <h2
    class="absolute text-justify  break-before-auto top-3 left-5 font-outfit font-medium text-18 leading-27 text-[#181B23]"
  >
    Alarms,<br> Security &<br> Signaling
  </h2>
  <div>
    <a href="#">
      <button
        class="absolute inline-block top-32 left-5 font-outfit text-12 leading-18 text-[#0D4AFF]"
      >
        View Product
        <img
          class="absolute top-1 left-24"
          src="assets/Images/Categories/Arrow_Right.svg"
        />
      </button>
    </a>

    <div class="absolute h-36 w-36 top-4 right-2 bottom-4 bg-white">
      <img src="assets/Images/AlarmsSecuritySignaling 1.png" />
    </div>
  </div>
</div>

